@charset "UTF-8";
/* VARIABLES */ /* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.container {
  width: 80%;
  margin: 0 auto;
  max-width: 1320px;
}

/* GENERAL */
html {
  font-size: 62.5%;
}

body {
  font-family: "Itim", cursive;
}

header {
  background-color: rgb(112, 112, 112);
  padding: 0.5rem 0;
  position: sticky;
  top: 0;
  z-index: 2;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row a img {
  padding-left: 0px; /* Corrección de bootstrap que afectaba dimensiones */
  width: 102.5px; /* Corrección de bootstrap que afectaba dimensiones */
}

.row a {
  width: 110px; /* Corrección de bootstrap que afectaba dimensiones */
}

h1 {
  font-size: 4rem;
  color: rgb(255, 221, 0);
  text-align: center;
}

h2 {
  font-size: 2.5rem;
  color: rgb(255, 171, 69);
  text-align: center;
}

h3 {
  font-size: 3.5rem;
  color: rgb(255, 221, 0);
  text-align: center;
}

p {
  font-size: 2rem;
  font-family: Arial, Helvetica;
  margin-bottom: -1rem; /* Corrección de bootstrap que afectaba dimensiones */
}

/* NavBar Bootstrap */
.navegacion__enlace {
  font-size: 2rem;
  color: white;
}
.navegacion__enlace:hover {
  color: rgb(255, 221, 0);
}

/* INDEX */
@media (min-width: 992px) {
  .row_index {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
}
/* Section 1 */
.intro-section {
  background-color: rgb(146, 146, 146);
  padding-top: 1rem;
}
.intro-section .row_index {
  display: grid;
  grid-template-rows: repeat(2, auto);
  column-gap: 2rem;
}
.intro-section .row_index .intro-imagen {
  width: 100%;
}
.intro-section .row_index .intro-titulo {
  text-align: left;
  padding-bottom: 3rem;
}
.intro-section .row_index .intro-parrafo {
  color: white;
  padding-bottom: 2rem;
}

/* section 2 */
.iconos-section {
  background-color: rgb(99, 99, 99);
  padding: 3rem;
  text-align: center;
}
.iconos-section .img-iconos {
  display: inline-block;
  margin-inline: 1rem;
}
.iconos-section .img-iconos h2 {
  width: 260px; /* Corrección de bootstrap que afectaba dimensiones */
}

/* section 3 Cartita de Gatos*/
.gatos-section {
  background-color: rgb(146, 146, 146);
  padding-block: 3rem;
}
.gatos-section .container-cartitas {
  margin: 0 auto;
  width: 80%;
}
.gatos-section .container-cartitas .section3-titulo {
  padding-top: 2rem;
  font-size: 4rem;
  color: rgb(255, 221, 0);
}
.gatos-section .container-cartitas .cartita {
  background-color: rgb(112, 112, 112);
  padding: 1rem;
  border-radius: 1rem;
  margin-inline: 1.5%;
  display: inline-block;
}
.gatos-section .container-cartitas .cartita .cartita-imagen {
  width: 100%;
}
.gatos-section .container-cartitas .cartita .cartita-titulo {
  font-size: 3rem;
  color: rgb(253, 155, 255);
}
.gatos-section .container-cartitas .cartita .cartita-titulo:hover {
  margin-right: 1vw;
  transition: margin-right 1s;
  background-color: rgb(255, 255, 255);
}
.gatos-section .container-cartitas .cartita .cartita-parrafo {
  color: white;
}
.gatos-section .container-cartitas .cartita .cartita-boton {
  background-color: rgb(253, 155, 255);
  border: none;
  padding: 1rem;
  border-radius: 1rem;
  font-size: 1.5rem;
}
.gatos-section .container-cartitas .cartita .cartita-boton a {
  text-decoration: none;
  color: black;
}
.gatos-section .container-cartitas .cartita .cartita-boton a:hover {
  color: rgb(246, 255, 0);
}

.cartita-imagen,
.cartita-titulo,
.cartita-parrafo {
  margin-bottom: 1rem;
}

/* NOSOTROS */
/* Section 1 */
.nos-section {
  background-color: rgb(146, 146, 146);
}
.nos-section .titulo-nos {
  padding: 3rem 0 3rem 0;
}
.nos-section .text-nos {
  text-align: center;
  color: white;
  padding-bottom: 4rem;
}

/* Section 2 Grid galería de gatos */
.container-grid {
  display: grid;
  width: 100%;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "Gato-galeria-1 Gato-galeria-2 Gato-galeria-3" "Gato-galeria-1 Gato-galeria-4 Gato-galeria-5";
}
.container-grid div {
  display: flex;
  justify-content: center;
}
.container-grid .gato-galeria-1 {
  grid-area: Gato-galeria-1;
  background-color: aqua;
}
.container-grid .gato-galeria-2 {
  grid-area: Gato-galeria-2;
  background-color: beige;
}
.container-grid .gato-galeria-3 {
  grid-area: Gato-galeria-3;
  background-color: #212121;
}
.container-grid .gato-galeria-4 {
  grid-area: Gato-galeria-4;
  background-color: violet;
}
.container-grid .gato-galeria-5 {
  grid-area: Gato-galeria-5;
  background-color: tomato;
}

/* NOVEDADES */
.nov-section {
  background-color: rgb(146, 146, 146);
}
.nov-section .container-novedades {
  margin: 0 auto;
  width: 80%;
}
.nov-section .container-novedades .carta-novedades {
  padding: 5rem 0 20rem 0;
}
.nov-section .container-novedades .carta-novedades .gato-nov {
  background-color: rgb(112, 112, 112);
  padding: 1rem;
  border-radius: 1rem;
  margin-inline: 1.5%;
  display: inline-block;
}
.nov-section .container-novedades .carta-novedades .gato-nov .img-nov {
  width: 100%;
}
.nov-section .container-novedades .carta-novedades .gato-nov .text-nov {
  text-align: center;
  color: white;
}
.nov-section .container-novedades .carta-novedades .titulo-nov {
  font-size: 4rem;
  color: rgb(255, 221, 0);
  padding-bottom: 3rem;
}

/* CONTACTO */
/* Section 1 main*/
.con-section {
  background-color: rgb(146, 146, 146);
}
.con-section .contacto-titulo {
  padding-top: 3rem;
}
.con-section .text-con {
  text-align: center;
  color: white;
  padding-block: 3rem;
  padding-inline: 5%;
  width: 100%;
}

/* Section 2 Formulario */
.con-form-section {
  background-color: rgb(99, 99, 99);
}
.con-form-section .con-form {
  font-size: 2rem;
  color: white;
  padding-block: 2rem;
}
.con-form-section .con-form form {
  background-color: rgb(146, 146, 146);
}
.con-form-section .con-form form fieldset {
  width: min(600px, 100%);
  margin: 0 auto;
  padding: 20px;
  background-color: rgb(146, 146, 146);
}
.con-form-section .con-form form fieldset .macho-hembra {
  display: flex;
}
.con-form-section .con-form form fieldset .macho-hembra .machopadding {
  padding: 0 10px 0 0;
}
.con-form-section .con-form form fieldset .macho-hembra .hembrapadding {
  padding: 0 10px 0 45px;
}

/* Section 3 Iframe Maps */
.con-map-section {
  background-color: rgb(146, 146, 146);
  text-align: center;
  padding-block: 3rem;
}

/* AYUDA */
/* Section 1 main*/
.ayuda-section {
  background-color: rgb(146, 146, 146);
  width: 100%;
  /* Iframe Video */
}
.ayuda-section .ayuda-titulo {
  padding-block: 3rem;
}
.ayuda-section .text-ayu {
  text-align: center;
  color: white;
  padding-bottom: 3rem;
}
.ayuda-section .gato-video {
  text-align: center;
  padding-bottom: 4rem;
}
.ayuda-section .gato-video .video {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}
.ayuda-section .gato-video .video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Section 2 Galeria Gatos Callejeros */
.container-grid2 {
  display: grid;
  width: 100%;
  /* height: 100vh; */
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "Gato-calle-1 Gato-calle-3 Gato-calle-4" "Gato-calle-2 Gato-calle-3 Gato-calle-5";
}
.container-grid2 div {
  display: flex;
  justify-content: center;
}
.container-grid2 .gato-calle-1 {
  grid-area: Gato-calle-1;
  background-color: aqua;
}
.container-grid2 .gato-calle-2 {
  grid-area: Gato-calle-2;
  background-color: beige;
}
.container-grid2 .gato-calle-3 {
  grid-area: Gato-calle-3;
  background-color: #212121;
}
.container-grid2 .gato-calle-4 {
  grid-area: Gato-calle-4;
  background-color: violet;
}
.container-grid2 .gato-calle-5 {
  grid-area: Gato-calle-5;
  background-color: tomato;
}

/* FOOTER */
.footer {
  background-color: black;
  padding-top: 2rem;
  padding-bottom: 1rem;
}
.footer .footer-sm {
  background-color: #212121;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}
.footer .footer-sm .footer-sm-icons {
  text-align: center;
}
.footer .footer-sm .footer-sm-icons .text-redes {
  color: white;
}
.footer .footer-sm .footer-sm-icons .text-redes p {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
.footer .footer-sm .footer-sm-icons a {
  color: white;
  font-size: 2.3rem;
  padding-inline: 1rem;
}
.footer .footer-bottom-copy {
  text-align: center;
  color: gray;
  text-decoration: none;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.footer .footer-bottom-copy p {
  font-size: 1.5rem;
}

/*# sourceMappingURL=style.css.map */
