/* CONTACTO */

/* Section 1 main*/
.con-section {
  background-color: $color-secundario;

  .contacto-titulo {
    padding-top: 3rem;
  }

  .text-con {
    text-align: center;
    color: $color-p;
    padding-block: 3rem;
    padding-inline: 5%;
    width: 100%;
  }
}

/* Section 2 Formulario */
.con-form-section {
  background-color: $color-terciario;

  .con-form {
    font-size: 2rem;
    color: $color-p;
    padding-block: 2rem;

    form {
      /* background-color: $color-secundario; */

      fieldset {
        width: min(600px, 100%);
        margin: 0 auto;
        padding: 20px;
        /* background-color: $color-secundario; */

        legend {
          font-size: 3rem;
          color: $color-rosa;
        }

        .macho-hembra {
          display: flex;

          .machopadding {
            padding: 0 10px 0 0;
          }

          .hembrapadding {
            padding: 0 10px 0 45px;
          }
        }
      }
    }
  }
}

/* Section 3 Iframe Maps */
.con-map-section {
  background-color: $color-secundario;
  text-align: center;
  padding-block: 3rem;
}
