/* FOOTER */

.footer {
  background-color: black;
  padding-top: 1rem;

  .footer-sm {
    background-color: #212121;

    .footer-sm-icons {
      text-align: center;

      .text-redes {
        color: $color-p;
        margin: 0.5rem 0 1rem 0;

        p {
          font-size: 1.5rem;
        }
      }

      a {
        color: $color-p;
        font-size: 2.3rem;
        padding-inline: 1rem;
      }
    }
  }

  .footer-bottom-copy {
    text-align: center;
    color: gray;
    text-decoration: none;

    p {
      font-size: 1.5rem;
    }
  }
}
