/* FOOTER */

.footer {
  background-color: black;
  padding-top: 2rem;
  padding-bottom: 1rem;

  .footer-sm {
    background-color: #212121;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    .footer-sm-icons {
      text-align: center;

      .text-redes {
        color: $color-p;

        p {
          font-size: 1.5rem;
          margin-bottom: 0.5rem;
        }
      }

      a {
        color: $color-p;
        font-size: 2.3rem;
        padding-inline: 1rem;
      }
    }
  }

  .footer-bottom-copy {
    text-align: center;
    color: gray;
    text-decoration: none;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    p {
      font-size: 1.5rem;
    }
  }
}
