/* INDEX */

@media (min-width: 992px) {
  .row_index {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
}

/* Section 1 */

.intro-section {
  background-color: $color-secundario;
  padding-top: 1rem;

  .row_index {
    display: grid;
    grid-template-rows: repeat(2, auto);
    column-gap: 2rem;

    .intro-imagen {
      width: 100%;
    }

    .intro-titulo {
      text-align: left;
      padding-bottom: 3rem;
    }
    .intro-parrafo {
      color: $color-p;
      padding-bottom: 2rem;
    }
  }
}

/* section 2 */

.iconos-section {
  background-color: $color-terciario;
  padding: 3rem;
  text-align: center;

  .img-iconos {
    display: inline-block;
    margin-inline: 1rem;
    /* width: 275px;  Corrección de bootstrap que afectaba dimensiones */

    h2 {
      width: 260px; /* Corrección de bootstrap que afectaba dimensiones */
    }
  }
}

/* section 3 Cartita de Gatos*/

.gatos-section {
  background-color: $color-secundario;
  padding-block: 3rem;

  .container-cartitas {
    margin: 0 auto;
    width: 80%;

    .section3-titulo {
      padding-top: 2rem;
      font-size: 4rem;
      color: $color-title;
    }

    .cartita {
      background-color: $color-principal;
      padding: 1rem;
      border-radius: 1rem;
      display: inline-block;
      margin-inline: 1.5%;

      .cartita-imagen {
        width: 100%;
      }

      .cartita-titulo {
        font-size: 3rem;
        color: $color-rosa;
      }

      .cartita-parrafo {
        color: $color-p;
      }

      .cartita-boton {
        background-color: $color-rosa;
        border: none;
        padding: 1rem;
        border-radius: 1rem;
        font-size: 1.5rem;
      }
    }
  }
}

.cartita-imagen,
.cartita-titulo,
.cartita-parrafo {
  margin-bottom: 1rem;
}
