/* NavBar Bootstrap */

nav.navbar.navbar-expand-lg.menu.py-3 {
  width: 600px; /* Corrección de bootstrap que afectaba dimensiones */
}
.menu {
  background-color: $color-principal;
}

.nav-item {
  a {
    color: $color-p;
    font-size: 2rem;
  }
}
