/* NOVEDADES */

.nov-section {
  background-color: $color-secundario;

  .container-novedades {
    margin: 0 auto;
    width: 80%;

    .carta-novedades {
      padding: 8rem 0 15rem 0;

      .gato-nov {
        background-color: $color-principal;
        padding: 1rem;
        border-radius: 1rem;
        display: inline-block;
        margin-inline: 1.5%;

        .img-nov {
          width: 100%;
        }

        .titulo-nov {
          font-size: 3rem;
          color: $color-title;
          padding-bottom: 2rem;
        }

        .text-nov {
          text-align: center;
          color: $color-p;
        }
      }
    }
  }
}
