/* NOVEDADES */

.nov-section {
  background-color: $color-secundario;

  .container-novedades {
    margin: 0 auto;
    width: 80%;

    .carta-novedades {
      padding: 5rem 0 20rem 0;

      .gato-nov {
        @include box-style($color-principal);
        display: inline-block;

        .img-nov {
          width: 100%;
        }

        .text-nov {
          text-align: center;
          color: $color-p;
        }
      }

      .titulo-nov {
        font-size: 4rem;
        color: $color-title;
        padding-bottom: 3rem;
      }
    }
  }
}
