/* VARIABLES */
$color-principal: rgb(112, 112, 112);
$color-secundario: rgb(146, 146, 146);
$color-rosa: rgb(253, 155, 255);
$color-p: white;
$color-terciario: rgb(99, 99, 99);
$color-title: rgb(255, 221, 0);
